.Navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #91C612;
}

.nav-logo {
    font-weight: 700;
    font-size: 25px;
    margin: 15px;
    text-decoration: none;
    color: white;
}

.nav-items a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

.logo-carrito {
    height: 40px;
    margin-top: 20px;
    margin-right: 15px;
}

.numeral {
    color: white;
    font-weight: bold;
    margin-right: 15px;
}


.link-activo {
    border-radius: 10px;
    border: 2px solid white;
}